<div class="p-8 h-full">
    <mat-tab-group>

        <mat-tab label="If Else">
            <app-if-else />
        </mat-tab>

        <mat-tab label="For">
            <app-for />
        </mat-tab>

        <mat-tab label="Property Binding">
            <app-property-binding />
        </mat-tab>

        <mat-tab label="Event Handling">
            <app-event-handling />
        </mat-tab>

        <mat-tab label="Component Comunication">
            <app-component-comunication />
        </mat-tab>

    </mat-tab-group>

    <router-outlet />
</div>